# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/secrets.toml
.streamlit/*.db

# Editor and OS files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled / optimized / DLL files
*.pyd
*.so
*.dll

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints/
